body{
  margin: 0;
  padding: 0;
}
header{
  padding: 15px 60px; 
}
.menu {
  width: 42%;
  float: right;
  list-style: none;
    }
.menu li{
  width: 100px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  float: left;
    }
.menu li:hover{
  background: yellow;
    }
.menu li:hover a{
  color: #000; 
    }
.menu li a{
      text-decoration: none;
      font-family: baloo;
      color: #fff;
      text-transform: uppercase;
    }
