body{
  margin: 0;
  padding: 0;
}
header{
  padding: 15px 60px; 
}
.menu {
  width: 42%;
  float: right;
  list-style: none;
    }
.menu li{
  width: 100px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  float: left;
    }
.menu li:hover{
  background: yellow;
    }
.menu li:hover a{
  color: #000; 
    }
.menu li a{
      text-decoration: none;
      font-family: baloo;
      color: #fff;
      text-transform: uppercase;
    }
.logo{
 text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-family: ubuntu;
  padding: 20px 0;
  width: 20%;
  float: left;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
